<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wxcxc.mapper.WxcxProjectPointGroupMapper">
    
    <resultMap type="WxcxProjectPointGroup" id="WxcxProjectPointGroupResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="structureId"    column="structure_id"    />
    </resultMap>

    <sql id="selectWxcxProjectPointGroupVo">
        select id, name, structure_id from wxcx_project_point_group
    </sql>

    <select id="selectWxcxProjectPointGroupList" parameterType="WxcxProjectPointGroup" resultMap="WxcxProjectPointGroupResult">
        <include refid="selectWxcxProjectPointGroupVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectWxcxProjectPointGroupById" parameterType="Long" resultMap="WxcxProjectPointGroupResult">
        <include refid="selectWxcxProjectPointGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWxcxProjectPointGroup" parameterType="WxcxProjectPointGroup" useGeneratedKeys="true" keyProperty="id">
        insert into wxcx_project_point_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="structureId != null">structure_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="structureId != null">#{structureId},</if>
         </trim>
    </insert>

    <update id="updateWxcxProjectPointGroup" parameterType="WxcxProjectPointGroup">
        update wxcx_project_point_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="structureId != null">structure_id = #{structureId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxcxProjectPointGroupById" parameterType="Long">
        delete from wxcx_project_point_group where id = #{id}
    </delete>

    <delete id="deleteWxcxProjectPointGroupByIds" parameterType="String">
        delete from wxcx_project_point_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>