<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wxcxc.mapper.WxcxcProjectPointGroupMapper">
    
    <resultMap type="WxcxcProjectPointGroup" id="WxcxcProjectPointGroupResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="structureId"    column="structure_id"    />
    </resultMap>

    <sql id="selectWxcxcProjectPointGroupVo">
        select id, name, structure_id from wxcxc_project_point_group
    </sql>

    <select id="selectWxcxcProjectPointGroupList" parameterType="WxcxcProjectPointGroup" resultMap="WxcxcProjectPointGroupResult">
        <include refid="selectWxcxcProjectPointGroupVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="structureId != null  and structureId != ''"> and structure_id = #{structureId}</if>
        </where>
    </select>
    
    <select id="selectWxcxcProjectPointGroupById" parameterType="Long" resultMap="WxcxcProjectPointGroupResult">
        <include refid="selectWxcxcProjectPointGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWxcxcProjectPointGroup" parameterType="WxcxcProjectPointGroup" useGeneratedKeys="true" keyProperty="id">
        insert into wxcxc_project_point_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="structureId != null">structure_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="structureId != null">#{structureId},</if>
         </trim>
    </insert>

    <update id="updateWxcxcProjectPointGroup" parameterType="WxcxcProjectPointGroup">
        update wxcxc_project_point_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="structureId != null">structure_id = #{structureId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxcxcProjectPointGroupById" parameterType="Long">
        delete from wxcxc_project_point_group where id = #{id}
    </delete>

    <delete id="deleteWxcxcProjectPointGroupByIds" parameterType="String">
        delete from wxcxc_project_point_group where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>