<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wxcxc.mapper.WxcxcProjectDeviceSensorDataMapper">

    <resultMap type="WxcxcProjectDeviceSensorData" id="WxcxcProjectDeviceSensorDataResult">
        <result property="id" column="id"/>
        <result property="sensorId" column="sensor_id"/>
        <result property="originalData" column="original_data"/>
        <result property="data" column="data"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectWxcxcProjectDeviceSensorDataList" parameterType="WxcxcProjectDeviceSensorData"
            resultMap="WxcxcProjectDeviceSensorDataResult">
        select id, sensor_id, original_data, data, create_time from wxcxc_project_device_sensor_data_${deviceId}
        <where>
            <if test="wxcxcProjectDeviceSensorData.id != null ">and id = #{wxcxcProjectDeviceSensorData.id}</if>
            <if test="wxcxcProjectDeviceSensorData.sensorId != null ">and sensor_id = #{wxcxcProjectDeviceSensorData.sensorId}</if>
            <if test="wxcxcProjectDeviceSensorData.originalData != null  and originalData != ''">and original_data = #{wxcxcProjectDeviceSensorData.originalData}</if>
            <if test="wxcxcProjectDeviceSensorData.data != null  and data != ''">and data = #{wxcxcProjectDeviceSensorData.data}</if>
            <if test="wxcxcProjectDeviceSensorData.createTime != null ">and create_time = #{wxcxcProjectDeviceSensorData.createTime}</if>
            <if test="wxcxcProjectDeviceSensorData.params.beginTime != null and wxcxcProjectDeviceSensorData.params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%Y%m%d%H%i') &gt;= date_format(#{wxcxcProjectDeviceSensorData.params.beginTime},'%Y%m%d%H%i')
            </if>
            <if test="wxcxcProjectDeviceSensorData.params.endTime != null and wxcxcProjectDeviceSensorData.params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%Y%m%d%H%i') &lt;= date_format(#{wxcxcProjectDeviceSensorData.params.endTime},'%Y%m%d%H%i')
            </if>
        </where>
    </select>

    <insert id="insertWxcxcProjectDeviceSensorData" parameterType="WxcxcProjectDeviceSensorData" useGeneratedKeys="true"
            keyProperty="id">
        insert into wxcxc_project_device_sensor_data_${deviceId}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxcxcProjectDeviceSensorData.sensorId != null">sensor_id,</if>
            <if test="wxcxcProjectDeviceSensorData.originalData != null">original_data,</if>
            <if test="wxcxcProjectDeviceSensorData.data != null">data,</if>
            <if test="wxcxcProjectDeviceSensorData.createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wxcxcProjectDeviceSensorData.sensorId != null">#{wxcxcProjectDeviceSensorData.sensorId},</if>
            <if test="wxcxcProjectDeviceSensorData.originalData != null">#{wxcxcProjectDeviceSensorData.originalData},</if>
            <if test="wxcxcProjectDeviceSensorData.data != null">#{wxcxcProjectDeviceSensorData.data},</if>
            <if test="wxcxcProjectDeviceSensorData.createTime != null">#{wxcxcProjectDeviceSensorData.createTime},</if>
        </trim>
    </insert>

    <update id="dropTable">
        DROP TABLE IF EXISTS wxcxc_project_device_sensor_data_${deviceId}
    </update>

    <update id="createTable" parameterType="String">
        CREATE TABLE `wxcxc_project_device_sensor_data_${deviceId}`  (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `sensor_id` bigint(20) NULL DEFAULT NULL COMMENT '所属传感器',
          `original_data` varchar(1024) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL COMMENT '原始数据',
          `data` varchar(1024) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL COMMENT '转义后数据',
          `create_time` datetime(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
          PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci ROW_FORMAT = Dynamic;
    </update>

    <!--  获取数据数  -->
    <select id="getDataCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM `wxcxc_project_device_sensor_data_${deviceId}`;
	</select>
</mapper>